<header class="toolbar">

    <div class="toolbar-left">

        <div class="logo">

            🎓 IDE Educativo

        </div>

    </div>

    <div class="toolbar-center">

        <button class="tab active" data-file="html">
            index.html
        </button>

        <button class="tab" data-file="css">
            style.css
        </button>

        <button class="tab" data-file="js">
            script.js
        </button>

    </div>

    <div class="toolbar-right">

        <button id="runBtn">

            ▶ Ejecutar

        </button>

        <button id="openBtn">

            🌍 Abrir

        </button>

        <button id="resetBtn">

            ↺ Reiniciar

        </button>

    </div>

</header>