.sidebar{

    background:#252526;

    color:white;

    border-right:1px solid #333;

}

.sidebar-title{

    padding:20px;

    font-weight:bold;

    border-bottom:1px solid #333;

}

.sidebar ul{

    list-style:none;

}

.sidebar li{

    padding:15px 20px;

    cursor:pointer;

}

.sidebar li:hover{

    background:#2d2d2d;

}

.sidebar li.active{

    background:#007acc;

}