*{

    margin:0;
    padding:0;
    box-sizing:border-box;
    font-family:Poppins,sans-serif;

}

body{

    background:#0b1022;
    color:white;

}

header{

    height:70px;

    background:#161d3d;

    display:flex;

    justify-content:space-between;

    align-items:center;

    padding:0 40px;

}

.logo h2{

    color:#4f7cff;

}

.logo span{

    color:#bbb;

    font-size:14px;

}

.volver{

    color:white;

    text-decoration:none;

    background:#355cff;

    padding:12px 20px;

    border-radius:10px;

}

main{

    width:95%;

    margin:30px auto;

}

.editor-container{

    border-radius:15px;

    overflow:hidden;

    border:1px solid #29325e;

}

.editor-header{

    height:45px;

    background:#161d3d;

    display:flex;

    align-items:center;

    gap:10px;

    padding-left:20px;

}

#editor{

    height:550px;

}

#run{

    margin-top:20px;

    padding:15px 25px;

    background:#355cff;

    color:white;

    border:none;

    border-radius:12px;

    cursor:pointer;

    font-size:16px;

}

.console{

    margin-top:30px;

    background:#161d3d;

    border-radius:15px;

    overflow:hidden;

}

.console-title{

    background:#24305f;

    padding:15px;

}

#output{

    padding:20px;

    min-height:180px;

    color:#55ff55;

}